In [1]:
import pandas as pd

In [2]:
 2+2

4

In [3]:
9%2

1

In [4]:
print('THe Sum of 2 numbers is ') 
print(2+3)
print(6/2)
print(6//2)
print(2**3)
print(7**7)
#PEMDAS

THe Sum of 2 numbers is
5
3.0
3
8
823543

In [5]:
print('Hello world')
print( 'test for single qoutes')
print( "test for double qoutes")
print( '''test for triple qoutes''')
print("what's up")
#Varibales object containing specfic values
x=5 #numerica or integer vaiable
print(x)
y="i started learining python today" # string variable
print(y)
x=x+10
print(x)


#Types/class of variable
type(x)
print(type(x))
print(type(y))
#print_type_class
#Rules
#1 variable must be letters, numbers,  or underscores
# do not start with numbers
#spaces are not allowed in variable name
#not use keywords in funtction
#short and descriptive
#case sensitivty (lower or upper case)
fruit_basket="mangoes, oranges"
print(type(fruit_basket))
print(fruit_basket)

Hello world
test for single qoutes
test for double qoutes
test for triple qoutes
what's up
5
i started learining python today
15
<class 'int'>
<class 'str'>
<class 'str'>
mangoes, oranges

In [ ]:
#Input functions simple
fruit_basket="Mangoes"
print(fruit_basket)
fruit_basket=input("which is your favorite fruit? ")
print(fruit_basket)
#input function of 2nd stage
name=input("what is your name? ")
greetings="Hello!"
print(greetings,name)
#another way
name=input("what is your name? ")
print("Hello!",name)

In [10]:
#3rd stage
name=input("what is your name? ")
age=input("How old are you?" )
greetings="Hello!"
print(greetings,name,"you are still young" )

what is your name? irfan
How old are you?26
Hello! irfan you are still young

In [24]:
#Chapter 7 logical conditional operater
print(4==4)
print(4>2)
print(4!=4)
print(6<3)
print(3<=5)
#application of logical operaters
# hanan_age=4
# age_requried=5
# print(hanan_age==age_requried)
age_requried=5
hanan_age=input("how old hanan is?" )
hanan_age=int(hanan_age)
print(type(hanan_age))
print(hanan_age==age_requried)

True
True
False
False
True
how old hanan is?5
<class 'int'>
True

In [39]:
#Chaptwer 8 conversion
x=10
y=10.0
z="Hello"

x=x*y #implicit conversion
print(x, type(x))
print(type(y))
print(type(z))

#explicit conversion
age=input("what is your age? ")
age=float(age)
print(type(age))

100.0 <class 'float'>
<class 'float'>
<class 'str'>
what is your age? 18.5
<class 'float'>

In [53]:
#Chapter 9 If, else, elif
requried_age = 5
hanan_age = 12
if hanan_age == requried_age:
    print("hanan can join the school")
elif hanan_age > requried_age:
    print("Congrats! hanan should join college.")
elif hanan_age == 2:
    print("you should take care of him")
else:
    print("hanan can't join the school")

Congrats! hanan should join college.

In [61]:
#CHapter 10 Functions
def print_codenics():
    text = " i know irfan very well"
    print(text)
    print(text)
    print(text)
print_codenics()

def print_codenics(text):
    print(text)
    print(text)
    print(text)
print_codenics("i know irfan very well")
#calculater
def school_calculater(age,text):
    if age==15:
        print("hanan can join school")
    elif age> 5:
        print("hanan can join college")
    else:
        print("hanan can't join anything")
school_calculater(5,"hanan")

def future_age(age):
    new_age=age+20
    return new_age
    print (new_age)

future_pred_age=future_age(18)
print(future_pred_age )

 i know irfan very well
 i know irfan very well
 i know irfan very well
i know irfan very well
i know irfan very well
i know irfan very well
hanan can't join anything
38

In [10]:
#Chapter11   Loops  while and for loops
#while loop
x=0
while(x<5):
    print(x)
    x=x+1
#For loops
for x in range(5,10):
    print(x)

#Array
days= ["mon", "Tues", "Weds","Thrus", "fri","Sat","Sun"]
for d in days:
    if (d=="fri"):break #loop stops
    if (d=="fri"):continue # skips d   
    print(d)

0
1
2
3
4
5
6
7
8
9
mon
Tues
Weds
Thrus

In [14]:
#CHapter12 Import libraries
#for value of pi
import math
print("the value of pi is ",math.pi)
import statistics
x= [150,250,350,450]
print (statistics.mean(x))
print (statistics.median(x))
print (statistics.mode(x))

the value of pi is  3.141592653589793
300
300.0
150